.title {
    position: relative;
    text-align: center;
    margin-top: 10%;
    font-weight: normal;
}

.button-container {
    display: flex;
    justify-content: center;
}

.div-header {
    position: relative;
}

.login-button-header {
    position: absolute;
    right: 60px;
    top: 0px;
    font-size: 32px;
    color:#46505A;
}

.login-link:visited {
    color: #46505A;
}

.link:visited {
    color: rgb(6, 6, 6);
}

.button {
    display: inline-block !important;
    margin: 5px;
}

a:-webkit-any-link {
    text-decoration: none;
}

nav {
    height: 50px;
    padding-bottom: 50px;
}

.logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.progress-bar {
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 300px;
    height: 60px;
    margin: 10px;
}